/*Header*/
header {
	background-color: #1f2937;
}
.Hero {
	color: yellow;
	display: flex;
}
.Hero.Main {
	gap: 50rem;
}
.two {
	width: 100%;
	height: 100%;
}
.two > img {
	width: 100%;
	height: 100%;
}
span a,
span {
	text-decoration: none;
	color: white;
}
span {
	color: aqua;
}
span a {
	gap: 5rem;
}

/*Main*/
.new {
	display: flex;
	align-items: normal;
	justify-content: space-evenly;
	gap: 1rem;
}

div {
	margin: 3rem;
}

.imageItem > img {
	height: 100%;
	width: 100%;
}
.imageItem > p {
	color: black;
	text-align: center;
}
/*Qoute statement*/
.QT {
	text-align: center;
	text-wrap: wrap;
	font-style: italic;
	font-size: 36px;
	background-color: #e5e7eb;
	font-weight: light;
	color: #1f2937;
}

.quoter {
	text-align: end;
}

/*Call to action*/
.Apply {
	margin: 150px;
	border-radius: 15px;
	border: 25pc;
	background-color: lightskyblue;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.newApply {
	align-items: center;
}
/*Footer*/
footer {
	margin: 30px;
	color: white;
	background-color: #1f2937;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 100%;
}

/*Buttons*/
button {
	background-color: #3882f6;
	border: 25px;
}
