* {
	font-family: "roboto";
}
/*Header*/
.header {
	margin-top: 1rem;
	background-color: #1f2937;
}
.Hero {
	display: flex;
}
.Hero.Main {
	gap: 50rem;
}
.two {
	width: 100%;
	height: 100%;
}
.two > img {
	width: 100%;
	height: 100%;
}
span a,
span {
	text-decoration: none;
}
span {
	font-size: 24px;
	color: #f9faf8;
}
span a {
	font-size: 18px;
	color: #e5e7eb;
	display: flexbox;
	justify-content: space-around;
	gap: 8rem;
}

.Main-text {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
}
.small-text {
	font-size: 18px;
	color: #e5e7eb;
}

/*Main*/
.new {
	display: flex;
	align-items: normal;
	justify-content: space-evenly;
	gap: 1rem;
}

div {
	margin: 3rem;
}

.imageItem > img {
	height: 100%;
	width: 100%;
}
.imageItem > p {
	color: black;
	text-align: center;
}
/*Qoute statement*/
.QT {
	margin: 90px;
	text-align: center;
	text-wrap: wrap;
	font-style: italic;
	font-size: 36px;
	background-color: #e5e7eb;
	font-weight: light;
	color: #1f2937;
}

.quoter {
	text-align: end;
}

/*Call to action*/
.Apply {
	margin: 150px;
	border-radius: 15px;
	border: 25pc;
	background-color: #3882f6;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.Apply > p {
	gap: 2rem;
}
h2 {
	font-size: 20px;
	color: #fff;
}
/*Footer*/
footer {
	margin-bottom: 1rem;
	color: white;
	background-color: #1f2937;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 100%;
}

/*Buttons*/
.btn {
	color: white;
	background-color: #3882f6;
	border: 35px;
}
#callbtn {
	border: 2px solid white;
}
